<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mkdev.vpnnewdesign">

    <application
        android:name=".VpnApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VpnNewDesign">

        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ConnectActivity"
            android:exported="true" />
        <activity
            android:name=".OtpIdActivity"
            android:exported="true" />
        <activity
            android:name=".OtpCodeActivity"
            android:exported="true" />
        <activity
            android:name=".OtpSuccessActivity"
            android:exported="true" />
        <activity
            android:name=".DownloadQrActivity"
            android:exported="true" />
        <activity
            android:name=".ServerNameActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".MainMenuActivity"
            android:exported="true" />
        <activity
            android:name=".LogsActivity"
            android:exported="true" />
        <activity
            android:name=".ThemeActivity"
            android:exported="true" />
        <activity
            android:name=".ConnectionActivity"
            android:exported="true" />
        <activity
            android:name=".SubmitFeedbackActivity"
            android:exported="true" />
        <activity
            android:name=".FeedbackActivity"
            android:exported="true" />
        <activity
            android:name=".AboutActivity"
            android:exported="true" />
    </application>

</manifest>